DS_Store
*/.DS_Store
**/.DS_Store
*/*/DS_Store
.config
*/.config
**/.config
.idea/misc.xml
.idea/sherlog-ai-saas.iml
.idea/*
*/__pycache__/*
**/__pycache__/**
*/__pycache__
**/__pycache__
__pycache__
.pytest_cache/
.idea
.idea/**
*/.idea
**/.idea
*/.idea/*
**/.idea/**

.coverage
TransformParameters.*.txt

*.pyc

build/
copy.sh
/dist/

Brang.egg-info/
